[Desktop Entry]
Version=1.0
Type=Application
Name=Q
GenericName=R IDE
Comment=A simple Qt-based R IDE - 100% R focused
Exec=q %F
Icon=q
Terminal=false
Categories=Development;IDE;Qt;
MimeType=text/x-r-source;text/x-r;
Keywords=R;Statistics;Data;IDE;
